VITE_SUPABASE_URL=https://lmktddejwvgtssxmbfed.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxta3RkZGVqd3ZndHNzeG1iZmVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MTE4MjYsImV4cCI6MjA4OTQ4NzgyNn0.28h2h0qZHJ4bbkzau76hfdzUHDn2eBJLEX9Dl7R3FF4
